<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
        <link rel="stylesheet" href="{{ asset('css/app.css') }}">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
        <link rel="icon" href="{{ asset('img/favicon-lovebird.png') }}">

        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
    <header class="container-fluid sticky-top bg-purple mb-2">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container">
                <a class="navbar-brand" href="{{ path('main_home') }}">
                    <img src="{{ asset('img/loveNest2.png') }}" alt="Logo Lovenest" class="d-inline-block align-top logo">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav gap-2 me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="btn link-pink-light" aria-current="page" href="{{ path('main_home') }}">
                                <i class="fas fa-home"></i> Accueil
                            </a>
                        </li>
                    </ul>
                    <div class="navbar-nav justify-content-end">
                        <ul class="navbar-nav gap-2 me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                    <a class="btn btn-outline-white" aria-current="page" href=""><i class="fas fa-user"></i> Déconnexion ()</a>
                                    <a class="btn btn-pink" aria-current="page" href=""><i class="fas fa-heart"></i> <strong>Inscription</strong></a>
                                    <a class="btn btn-outline-white" aria-current="page" href=""><i class="fas fa-user"></i> Connexion</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }} mt-2 text-center" role="alert">
                    <p>{{ message }}</p>
                </div>
            {% endfor %}
        {% endfor %}
    </div>

    <main class="container-fluid">
        {% block body %}
        {% endblock %}
    </main>

    <footer class="container-fluid bg-purple mt-2">
        <div class="container pt-2">
            <div class="row">
                <div class="col">
                    <ul class="nav">
                        <li class="nav-link"><a href="{{ path("main_about_us") }}" class="link-pink-light">Qui sommes-nous?</a></li>
                        <li class="nav-link"><a href="#" class="link-pink-light">CGU</a></li>
                        <li class="nav-link"><a href="#" class="link-pink-light">Mentions légales</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="text-center pb-3 text-white">
            <p class="mb-0">Logo par <a href="https://dribbble.com/shots/15121595-LoveBird" class="link-pink-light">Deividas Bielskis</a></p>
            <p>&copy; Lovenest {{ "now"|date("Y") }}</p>
        </div>
    </footer>
    </body>
</html>
